.container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1a0f0f;
}

.text {
  color: #c3646e;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.17em;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.item {
  color: #c3646e;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17em;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .text {
    font-size: 26px;
  }

  .list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .text {
    font-size: 28px;
  }

  .list {
    gap: 60px;
  }
}
