.container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7dddf;
}

.gallery {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Italianno", cursive;
  color: #7c252e;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 5px;
}

.button {
  padding: 10px;
  display: block;
  margin: auto;
  border: none;
  background-color: #f7dddf;
  color: #7c252e;
  font-family: "Italianno", cursive;
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .title {
    font-size: 30px;
  }

  .button {
    padding: 20px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .title {
    font-size: 32px;
  }

  .button {
    font-size: 26px;
  }
}
