.image {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

@media screen and (min-width: 1120px) {
  .image {
  }
}
