.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: rgb(119, 112, 112);
  font-family: "Didact Gothic";
}

.inputName {
  height: 25px;
  border: 0.5px #d7b47c solid;
  background-color: rgba(255, 255, 255, 255);
  width: 200px;
}

.inputEmail {
  height: 25px;
  background-color: rgba(255, 255, 255, 255);
  border: 0.5px #d7b47c solid;
  width: 200px;
}

.textarea {
  height: 45px;
  border: 0.5px #d7b47c solid;
  background-color: rgba(255, 255, 255, 255);
  width: 200px;
}

.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  width: 70px;
  padding: 10px;
  color: white;
  background-color: #d7b47c;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 16px;
  }

  .inputName {
    height: 35px;
    width: 300px;
  }

  .inputEmail {
    height: 35px;
    width: 300px;
  }

  .textarea {
    height: 65px;
    width: 300px;
  }

  .button {
    width: 100px;
    padding: 15px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1120px) {
  .label {
    font-size: 18px;
  }
  .inputName {
    height: 40px;
    width: 350px;
  }
  .inputEmail {
    height: 40px;
    width: 350px;
  }
  .textarea {
    height: 75px;
    width: 350px;
  }
  .button {
    width: 120px;
    padding: 16px;
    font-size: 22px;
  }
}
