.container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #a17d74;
  display: flex;
  gap: 20px;
}

.logo {
  width: 60px;
  height: 60px;
}

.linksContainer {
  margin-top: 16px;
  display: flex;
  gap: 4px;
}
