.container {
  padding-top: 80px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
  background-color: #fff4f5;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Oswald;
  color: #7c252e;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 5px;
}

.text {
  padding-left: 10px;
  color: #7c252e;
  font-size: 14px;

  text-decoration: none;
}

.contacts {
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .title {
    font-size: 28px;
  }
}
